<style>
    @import url('https://rcshige3.nig.ac.jp/rdf/css/bootstrap.min.css');
    @import url('https://rcshige3.nig.ac.jp/rdf/css/jquery.dataTables.css');
</style>

<div class="form-check" style="float: right;">
    <input class="form-check-input" type="checkbox" id="checkbox"/>
    <label class="form-check-label" for="checkbox">Show URI</label>
</div>
<div class="table-responsive">
    <table id="resultTable" class="table table-bordered table-striped">
        <thead class="thead-dark">
            <th>
                Strain<br/>
                <input type="button" id="uri1" class="btn btn-link" style="display: none;" value="{{uri_identifier}}"
                    onclick="location.href='{{uri_identifier}}'"/>
            </th>
            <th>
                Background<br/>
                <input type="button" id="uri2" class="btn btn-link" style="display: none;" value="{{uri_label}}"
                    onclick="location.href='{{uri_label}}'"/>
            </th>
            <th>
                Journal<br/>
                <input type="button" id="uri3" class="btn btn-link" style="display: none;" value="{{uri_isReferencedBy}}"
                    onclick="location.href='{{uri_isReferencedBy}}'"/>
            </th>
            <th>
                Origin<br/>
                <input type="button" id="uri4" class="btn btn-link" style="display: none;" value="{{uri_derived_from}}"
                    onclick="location.href='{{uri_derived_from}}'"/>
            </th>
        </thead>
        <tbody>
            {{#each silkworm_phenotype_search as |item|}}
            <tr>
                <td><a href="https://rcshige3.nig.ac.jp/bioresource-search/api/silkworm/{{item.id}}" target="_blank">{{item.id}}</a></td>
                <td>{{{item.phenotype}}}</td>
                <td>{{{item.journal}}}</td>
                <td>{{{item.origin_all}}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

